body {
    padding: 150px;
}
div {
    padding: 10px;
}
.class1 {
    background-color: #E2E6EB;
    height: 400px;
    border-radius: 5px;
}
.class2 {
    background-color: #E2E6EB;
    height: 200px;
    border-radius: 5px;
}

.class3 {
    background-color: #E2E6EB;
    height: 400px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.class4 {
    background-color: #E2E6EB;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.class5 {
    background-color: #E2E6EB;
    height: 700px;
    border-radius: 5px;
}